<!DOCTYPE html>
<html>
  <head>
    <title>Kanban for Ninjas</title>
    <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tag %>
    <%= yield :head %>
  </head>

  <body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
                  <%= link_to 'Kanban4Ninjas', root_path, :class => 'website-title' %>

                <% if @project and @project.id %>
                    <ul class="nav nav-pills">
                      <%= li_link_to 'Board', project_board_path(@project) %>
                      <%= li_link_to t(:new_task), new_project_task_path(@project) %>
                      <%= li_link_to t(:list_tasks), project_tasks_path(@project) %>
                      <%= li_link_to t(:admin), edit_project_path(@project) %>
                      <%= li_link_to t(:manage_categories), project_categories_path(@project) %>
                      <%= yield :project_nav %>
                    </ul>
                <% end %>

                <ul class="nav secondary-nav pull-right">
                  <% if contributor_signed_in? %>
                    <%= li_link_to current_contributor.username, edit_contributor_registration_path(current_contributor) %>
                    <%= li_link_to 'Dashboard', root_path %>
                    <li class='dropdown'>
                      <a href='#' class="dropdown-toggle" data-toggle="dropdown"><%= t(:projects) %></a>
                      <ul id="projects" class="dropdown-menu">
                        <% projects = current_contributor.projects %>
                        <% if projects.count <= 10 %>
                          <% projects.each do |project| %>
                            <%= li_link_to project.name, project_board_path(project) %>
                          <% end %>
                        <% else %>
                          <% projects[0..9].each do |project| %>
                            <%= li_link_to project.name, project_board_path(project) %>
                          <% end %>
                          <li class="divider"></li>
                          <%= li_link_to 'All projects...', root_path %>
                        <% end %>
                        <li class="divider"></li>
                        <%= li_link_to t(:new_project), new_project_path %>
                      </ul>
                    </li>
                    <li><%= link_to t('sign_out'), destroy_contributor_session_path, :method => :delete %></li>
                  <% else %>
                    <%= li_link_to t('sign_up'), new_contributor_registration_path %>
                    <%= li_link_to t('sign_in'), new_contributor_session_path %>
                  <% end %>
                </ul>

          </div>
      </div>

    <div class="container">
      <div class="content">
        <%- flash.each do |name, msg| -%>
          <% if msg.is_a?(String) %>
            <div class="alert-message <%= name %> fade in" data-alert="alert">
              <a class="close" href="#">×</a>
              <p><%= msg %></p>
            </div>
          <% end -%>
        <%- end -%>

        <%= yield %>
      </div>

      <footer>
        <p>Kanban4Ninjas &copy; 2013. Guillaume Voisin</p>
      </footer>
    </div>
  </body>
</html>

